.justify-content-end {
  background-color: #181818;
  padding: 4px;
}

.nav-link {
  font-size: 16px;
  color: grey;
}

.nav-link:hover {
  color: blue;
}

.nav-email {
  font-size: 16px;
  color: grey;
  display: block;
  padding: .5rem 1rem;
}

.nav-link-active {
  color: #1ab188
}