.contain {
    height: 350px;
    width: 350px;
    object-fit: contain;
    }


th{
   padding-left:10px;
}

h1{
    color: #000;
    font-weight: bold;
}

table{
    margin-left: auto;
 margin-right: auto;

}

.name{
    font-size: 30px;
}


.card-body, .card{
    border:0px;

}

.amazon {
    background:rgb(35, 112, 255);
    font-weight: bold;
    border-color: transparent;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

.hulu {
    background: rgb(34, 238, 61);
    font-weight: bold;
    border-color: transparent;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

.netflix {
    background: rgb(255, 0, 0);
    font-weight: bold;
    border-color: transparent;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

@media screen and (max-width: 600px) {
    
    th { display:table-row; }
       
        
}